<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end" routerLink="/search" routerDirection="root">
      <ion-icon slot="icon-only" name="search"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="sub-headers">
    <p class="firstTitle mg21">Latest News</p>
  </div>
  <ion-slides class="slide-padding sli1 slider" pager="true" [options]="sliderConfig1">
    <ion-slide *ngFor="let post of postsPerCat1">
      <ion-card class="sliderCard" [routerLink]="['/tabs/home/post/' + post.id]">
        <img src="{{post.media_url}}" alt="{{post.title.rendered}}" />

          <ion-card-subtitle [innerHTML]="post.title.rendered"></ion-card-subtitle>

      </ion-card>
    </ion-slide>
  </ion-slides>

  <div class="sub-headers">
    <p  class="firstTitle mg0">Trending</p>
  </div>
  <ion-slides class="slide-padding sli2  slider" pager="true" [options]="sliderConfig2">
    <ion-slide *ngFor="let post of postsPerCat2">
      <ion-card  class="sliderCard" [routerLink]="['/tabs/home/post/' + post.id]">
        <img src="{{post.media_url}}" alt="{{post.title.rendered}}" />

          <ion-card-subtitle [innerHTML]="post.title.rendered"></ion-card-subtitle>

      </ion-card>
    </ion-slide>
  </ion-slides>

  <div class="sub-headers">
    <p  class="firstTitle mg0">NCAA</p>
  </div>
  <ion-slides class="slide-padding sli2 slider" pager="true" [options]="sliderConfig2">
    <ion-slide *ngFor="let post of postsPerCat3">
      <ion-card class="sliderCard"  [routerLink]="['/tabs/home/post/' + post.id]">
        <img src="{{post.media_url}}" alt="{{post.title.rendered}}" />

          <ion-card-subtitle [innerHTML]="post.title.rendered"></ion-card-subtitle>

      </ion-card>
    </ion-slide>
  </ion-slides>

  <div>
    <p class="found">Found {{ count }} posts</p>
  </div>

</ion-content>
